@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Каталог одежды</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://st4.depositphotos.com/32024136/40661/v/1600/depositphotos_406611524-stock-illustration-letter-initial-monogram-logo-design.jpg" alt="Стоковые векторные изображения Буква ls | Depositphotos®" width=200px/><!--EndFragment-->
</div>
